DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY_MIN_50_CHARS
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=*.up.railway.app,YOUR_PUBLIC_DOMAIN_IF_ANY

LOG_LEVEL=INFO
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=14

DATABASE_URL=postgresql://YOUR_PGUSER:YOUR_PGPASSWORD@YOUR_PUBLIC_HOST.proxy.rlwy.net:YOUR_PORT/YOUR_PGDATABASE

REDIS_URL=redis://default:YOUR_REDIS_PASSWORD@YOUR_REDIS_HOST:YOUR_REDIS_PORT

CORS_ALLOWED_ORIGINS=https://your-frontend.example.com,http://localhost:8081
CSRF_TRUSTED_ORIGINS=https://your-frontend.example.com
